.harvard{
    height:100%;
    background-color: rgb(190, 181, 181);
    margin-left: -15px;
    margin-right: -13px;
}
.stanford{
    height:100%;
    width:900px;
    background-color: aliceblue;
}

.imager{
    margin-top:50px;
    margin-left:50px;
    right: 90px;
    width: 50vh;
    height: 50vh;
}

.ingr{
  margin-left:20px;  
}
.lord{
    overflow-x: hidden;
}

.margins {
    margin-top: 50px;
  }
.list{
    display: flex;
    white-space: nowrap;
    margin-left: 15px;
    background-color: beige;
}
.colombia{
    color: aliceblue;
    background-color: rgb(49, 95, 164);
    width:fit-content;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}
.cornell{
    color: aliceblue;
    background-color: rgb(212, 127, 164);
    width:fit-content;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 23px;
    margin-left: 26px;
}
.ill{
    background-color: rgb(190, 181, 181);
    height: 15px;
}
.illiad{
    background-color: rgb(190, 181, 181);
    height: 15px;
    display: flex;
    justify-content: center;
}

.cards{
    background-color: beige;

    height: 300px;
    min-width:150px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(1, 0.3fr);
    row-gap: -10px;
    margin-top: 50px;

  }

  .gag{
      font-size: medium;
  }

  #bougiee{

      height:300px;
      width: 300px;
  }
  #bougieer{
    margin-left: 75px;

          height:300px;
    width: 300px;
}
  .three{
      width: fit-content;
      background-color: rgb(20, 123, 123);
      padding-left: 5px;
      padding-right: 5px;
  }