.harvard{
    height:100%;
    background-color: rgb(91, 90, 90);
    margin-left: -15px;
    margin-right: -13px;
}
.stanford{
    height:100%;
    width:900px;
    background-color: aliceblue;
}

.imager{
    margin-top:100px;
    margin-left:50px;
    right: 90px;
    width: 50vh;
    height: 50vh;
}

.ingr{
  margin-left:20px;  
}
.lord{
    overflow-x: hidden;
}

.margins {
    margin-top: 50px;
  }
.list{
    display: flex;
white-space: nowrap}
.colombia{
    color: aliceblue;
    background-color: rgb(49, 95, 164);
    width:fit-content;
    white-space: nowrap;
    padding-left: 120px;
}
.ill{
    background-color: rgb(91, 90, 90);
    height: 15px;
}
.bougiee{
    background-color: rgb(49, 95, 164);
    background-image: linear-gradient(to right,  rgb(91, 90, 90),80%,rgb(49, 95, 164));
    width: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 15px;
    row-gap: 25px;
    margin-top: 50px;

  }

  .gag{
      font-size: medium;
  }