.header {
  width: 100%;
  height: 60px;
  background-color: #a0b647;
  opacity: 0.9;
  box-sizing: border-box;
  display: flex;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 3;
}
.logo{
  height: 80px;
}
/* this center is for the header */
#centerplease{
  line-height: 0.3em;
}
.background {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7),60%,transparent),
  url('./assets/grape.jpg');
  background-size: cover;
  background-Repeat:no-repeat;
  height:100vh;

  background-position: center;
  background-attachment: fixed;
}
.sidebar{
  background-color :rgb(138, 135, 41);
  z-index: 100;
  height: 80vh;
  margin-top:10px;
  border-radius: 2%;
}
.sidebar input{
  width: 312px;
  border-radius: 10px;
  border: 0;
}
.scrollbar {
  overflow: scroll;
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: rgb(138, 135, 41);
}
.scrollbar-primary {
  scrollbar-color: #4285f4 rgb(138, 135, 41);
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}
ul {
  color :black;
  padding :20px;
  font-size :25px;
  font-family :Georgia, serif;
  font-weight :bold;
}
li {
  padding: 12px;
  font-size: 22px;
}

.x {
  color:black;
  font-family:Georgia, serif;
  text-align : center;
  font-size: 100px;
  background-color: #10ef8a;
  padding: 30px;
  font-weight:bold;
  border-style:solid;
  border-width:5px;
  font-weight:bold;
  float:right;
  width:80%;
}

.search{
  float:center;
  position: absolute;
  right:0;
  font-size: 30px;
  padding: 10px;
}

#menuIcon {
  height: 40px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.navbar-custom {
  height: 200px;
}

#test {
  background-color: rgb(20, 123, 123);
  
}

.check{
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin:0;
  padding:0;
}

.moveLeft {
  position: relative;
  left: -140px;
}
#MenuButton-3{
  height:40px;
  width: 250px;
  position: relative;
}
#MenuButton-2{
  margin-left: 56%;
  margin-top:5px;
  width: 70px;
  height:40px;
  box-shadow: none;
  background-color: rgb(191, 188, 31,0.8);
  border-radius: 30px;
}
#MenuButton {
  margin: auto;
  margin-top: 40vh;
  margin-left: 45%;
  width: 70px;
  box-shadow: none;
  background-color: rgb(191, 188, 31,0.8);
  border-radius: 30px;
}
#explain {
  color: aliceblue;
  text-align: center;
}
.fixed {
  width:400px;
}
.please {
  height: 110px;
}
#notMoving {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(191, 188, 31,0.8);
  padding-bottom: 20px;
  padding-top:20px;
  border-bottom-left-radius: 10px;
}
.flexar{
  display: flex;
  width:400px;
}
.carousel {
  margin-top: 8%;
  margin-right: 10px;
  height: 600px;
}
.fixedc {

  position: fixed;
  left:50%;
  width:100vh;
}
.carousel-item img {
  overflow: hidden;
  padding: 10px;
  height: 500px;
  
  transition: transform .2s;
}
.carousel-item h1 {
  color:white;
}
.carousel-item img:hover {
  transform: scale(1.1);
}

#card {
  background-color: #ff976d;
  display: flex;
  justify-content: left;
  width: 300px;
}

.topBorders {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottomBorders {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#image-position {
  position: relative;
  margin-left: -24px;
}

.noBullet {
  list-style: none;
}

.center {
  margin:auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
}
#hope{
  position: absolute;
  z-index:1001;
  margin-top: 95px;
}
#autocomp{
  top:0;
  background-color: aliceblue;
  margin-left: 72px;
  width: 220px;
  z-index: 1001;
  margin-bottom: 0px;
  padding-left: 10px;
}
.autotext{
  border-style: solid;
}
#autocomp:hover{
  background-color: rgb(148, 193, 193);
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  row-gap: 25px;
}
.murder{
  margin:auto;
}

.Taylor_Swift{
  padding-top: 20px;
}

.fontastica{
  font-family:'Rockwell', serif;
}

.Splatter{
  padding-top: 5px;
  width: fit-content;
}

.Splattera{
  padding-top: 5px;
}

.fancy{
  padding-right: 5px;
}
.maybe{
  height:100%;
  width:100%;
  background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(#444cf7 2px, transparent 2px), linear-gradient(90deg, #444cf7 2px, transparent 2px), linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px);
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.lovely{
  
  height:100%;
  width:100%;
  background-color: #e5e5f7d3;
background-image:  linear-gradient(30deg, #c9c9c9 12%, transparent 12.5%, transparent 87%, #c9c9c9 87.5%, #c9c9c9), linear-gradient(150deg, #c9c9c9 12%, transparent 12.5%, transparent 87%, #c9c9c9 87.5%, #c9c9c9), linear-gradient(30deg, #c9c9c9 12%, transparent 12.5%, transparent 87%, #c9c9c9 87.5%, #c9c9c9), linear-gradient(150deg, #c9c9c9 12%, transparent 12.5%, transparent 87%, #c9c9c9 87.5%, #c9c9c9), linear-gradient(60deg, #c9c9c977 25%, transparent 25.5%, transparent 75%, #c9c9c977 75%, #c9c9c977), linear-gradient(60deg, #c9c9c977 25%, transparent 25.5%, transparent 75%, #c9c9c977 75%, #c9c9c977);
background-size: 48px 84px;
background-position: 0 0, 0 0, 24px 42px, 24px 42px, 0 0, 24px 42px;
}
.fully{
  height:100%;
  width:100%;
}
.sidebarpos{
  position: fixed;
  top: 80px;
  margin-left: 15px;
  animation-name: love;
  animation-duration: 4s;
}
@keyframes love {
  0%   {margin-left: -450px;}
  15%  {margin-left: 15px;}

}

#lover{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
}
.america{
  color: azure;
  background-color: rgb(238, 115, 115);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}

.india{
  color: azure;
  background-color: rgb(9, 58, 16);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;}

.france{
  color: azure;
  background-color: rgb(86, 142, 255);
  width: fit-content;padding-left:3px;
  padding-right:3px;}

.asia{
  color: azure;
  background-color: rgb(165, 149, 4);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.britain{
  color: azure;
  background-color: rgb(33, 91, 153);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.carribea{
  color: azure;
  background-color: rgb(47, 134, 135);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.centralEurope{
  color: azure;
  background-color: rgb(255, 86, 162);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
  white-space: nowrap;
}
.china{
  color: azure;
  background-color: rgb(202, 4, 4);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.eastEurope{
  color: azure;
  background-color: rgb(220, 7, 114);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
  white-space: nowrap;

}
.italy{
  color: azure;
  background-color: rgb(59, 144, 49);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.japan{
  color: rgb(184, 6, 6);
  background-color: rgb(252, 237, 237);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.kosher{
  color: azure;
  background-color: rgb(255, 196, 86);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.mediterrania{
  color: azure;
  background-color: rgb(204, 129, 91);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.mexico{
  color: azure;
  background-color: rgb(243, 138, 1);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.middleEast{
  color: azure;
  background-color: rgb(98, 138, 94);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.nord{
  color: azure;
  background-color: rgb(177, 148, 255);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
.southAmerica{
  color: azure;
  background-color: rgb(135, 194, 160);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
  white-space: nowrap;

}
.southEastAsia{
  color: azure;
  background-color: rgb(165, 138, 5);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;

}
.world{
  color: azure;
  background-color: rgb(32, 88, 50);
  width: fit-content;
  padding-left:3px;
  padding-right:3px;
}
#cardica{
  background-color: #ffb699;
  justify-content: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 5px;
  border-radius: 3px;
}

.naked{
  border-style: dashed;

}

.fixede{
  justify-content: flex;
}

.Results{
  padding-top: 10px;
  padding-bottom: 10px;
}

#checkbox-size {
  padding: 10px;
  height: 30px;
  width: 30px;
}

.fixing {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin:0;
  padding:0;
  left: -145px;
}

.rounde{
  margin-left: 11%;
}
.Loading{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6e6e7650;
  background-image:  linear-gradient(30deg, #c9c9c9 12%, transparent 12.5%, transparent 87%, #c9c9c9 87.5%, #c9c9c9), linear-gradient(150deg, #c9c9c9 12%, transparent 12.5%, transparent 87%, #c9c9c9 87.5%, #c9c9c9), linear-gradient(30deg, #c9c9c9 12%, transparent 12.5%, transparent 87%, #c9c9c9 87.5%, #c9c9c9), linear-gradient(150deg, #c9c9c9 12%, transparent 12.5%, transparent 87%, #c9c9c9 87.5%, #c9c9c9), linear-gradient(60deg, #c9c9c977 25%, transparent 25.5%, transparent 75%, #c9c9c977 75%, #c9c9c977), linear-gradient(60deg, #c9c9c977 25%, transparent 25.5%, transparent 75%, #c9c9c977 75%, #c9c9c977);
background-size: 48px 84px;
background-position: 0 0, 0 0, 24px 42px, 24px 42px, 0 0, 24px 42px;
}
.Loading2{
  display: flex;
  margin-top: 50vh;
  margin-left: 50vw;
  padding-top: 47vh;
  padding-left: 45vw;
}
.LoadingBars{
  display: fixed;
  height: 80px;
  width: 80px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left:26px;
  top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3894c7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#anyFood{
  padding-left: 10px;
  font-size:35px;
  font-weight: 700;
}

.any{
  color: rgb(184, 6, 6);
}

#wombat{
  display: flex;
  justify-content: right;
  width:250px;
}

.gorilla{
  width:250px;
}

#hopesAndDreams{
  position: absolute;
  z-index:1001;
  margin-top: 118px;
  right:13px;
  text-size-adjust:5px;

}
#autocompsAndDreams{
  top:0;
  background-color: aliceblue;
  margin-left: 72px;
  width: 233px;
  z-index: 1001;
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 16px;
}
#autocompsAndDreams:hover{
  background-color: rgb(148, 193, 193);
}