.header {
  width: 100%;
  height:10%;
  background-color :#7af5a5;
  box-sizing: border-box;
  display: flex;

}
.background {
  background-image: 
  url(https://prod-virtuoso.dotcmscloud.com/dA/bcdc01e5-3786-41b0-ad5c-c7e79b10a095/heroImage1/banks-Aurora.jpg);
  background-size:cover;
  background-Repeat:no-repeat;
  display: flex;
  height:100vh;
  margin:-8px;
  background-position: center;
  background-attachment: fixed;
}
.sidebar{
  height :100%;
  
  background-color :#1ae562;
  width: 20%;

  position :fixed;
  border :solid;
};
ul {
  color :black;
  padding :10px;
  font-size :25px;
  font-family :Georgia, serif;
  font-weight :bold;
}
li {
  padding: 12px;
  font-size: 22px;
}

.x {
  color:black;
  font-family:Georgia, serif; 
  text-align : center;
  font-size: 100px;
  background-color: #10ef8a;
  padding: 30px;
  font-weight:bold;
  border-style:solid;
  border-width:5px;
  font-weight:bold;
  float:right;
  width:80%;
}

.search{
  float:right;
  width: 1670px;
  font-size:30px;
  padding:10px;
}